body {
  background-color: #86bdfd;
	display:flex;
  justify-content:center;
}

.card{
  width: 620px;
}

.question-text {
  color: #0b2748;
  font-family: Source Sans Pro;
  font-size: 42px;
  line-height: 1.29;
  letter-spacing: 0.4px;
}

.question{
  align-items: center;
  background-color: #86bdfd;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100%;
}

.hint-box{
  align-items: center;
  background-color: #0b2748;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.hint{
  background-color: #0b2748;
  box-sizing: border-box;
  display: none;
  padding: 30px 0;
  text-align: center;
  width:100%;
}

.answer{
  align-items: center;
  border-radius: 2.2px;
  cursor: pointer;
  display: flex;
  height: 80px;
  width: 100%;
}

.wrong-answer-one {
  background-color: #ffffff;
}

.wrong-answer-two {
  background-color: #edf5ff;
}

.wrong-answer-three {
  background-color: #ffffff;
}

.correct-answer {
  background-color: #edf5ff;
}

.result {
  align-items: center;
  background-color: #0b2748;
  border-radius: 2.2px;
  display: flex;
  height: 160px;
  justify-content: center;
  width: 100%;
}

.smiley {
	display: none;
}

.frown {
  display: none;
}

.hide-hint-text {
  color: #4a90e2;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: 600;
  line-height: 0.48;
  letter-spacing: 0.4px;
}

.answer-text {
  color: #0b2748;
  font-family: Source Sans Pro;
  font-size: 42px;
  line-height: 1.29;
  letter-spacing: 0.4px;
  padding-left: 55px;
  text-align: left;
}
